
html {
    height: auto;
}
body{
    margin: 0%;
    padding: 1rem;
}
#bodypad{
    padding :1rem
}

html.tcb-editor {
    overflow-y: initial;
}

body:before, body:after {
    height: 0 !important;
}

.thrv_page_section .out {
    max-width: none
}

.tve_wrap_all {
    position: relative;
}

/* Content Width - inherit Content Width directly from LP settings */
.thrv-page-section[data-inherit-lp-settings="1"] .tve-page-section-in {
    max-width: 1080px !important;
    max-width: var(--page-section-max-width) !important;
}

body.tcb-full-header .thrv_header,
body.tcb-full-footer .thrv_footer {
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw !important;
    margin-right: -50vw !important;
}
